In [22]:
import pandas as pd

### Lettura dataset e selezione dei soli giocatori in entrata (evitando così doppi trasferimenti e giocatori svincolati)

In [23]:
df = pd.read_csv('./dataset/dataset/transfers.csv')
transfers_in = df[df['dir'] == 'in']
transfers_in

,league,season,window,team_id,team_name,team_country,dir,player_id,player_name,player_age,...,counter_team_id,counter_team_name,counter_team_country,transfer_fee_amnt,market_val_amnt,is_free,is_loan,is_loan_end,is_retired,transfer_id
0,GB1,2009,s,985,Manchester United,England,in,33544,Antonio Valencia,23.0,...,1071,Wigan Athletic,England,18800000.0,NaN,False,False,False,False,310832
1,GB1,2009,s,985,Manchester United,England,in,62049,Mame Diouf,21.0,...,687,Molde FK,Norway,4500000.0,1600000.0,False,False,False,False,319841
2,GB1,2009,s,985,Manchester United,England,in,43261,Gabriel Obertan,20.0,...,40,FC Girondins Bordeaux,France,4000000.0,400000.0,False,False,False,False,315185
3,GB1,2009,s,985,Manchester United,England,in,1397,Michael Owen,29.0,...,762,Newcastle United,England,0.0,NaN,True,False,False,False,306421
4,GB1,2009,s,985,Manchester United,England,in,73538,Scott Moffatt,18.0,...,5242,Manchester United U18,England,NaN,NaN,False,False,False,False,339015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70000,NL1,2021,w,385,Fortuna Sittard,Netherlands,in,140032,Andreas Samaris,32.0,...,515,Without Club,Without Club,NaN,1500000.0,False,False,False,False,3633188
70001,NL1,2021,w,306,SC Heerenveen,Netherlands,in,257808,Runar Espejord,25.0,...,1293,Tromsø IL,Norway,NaN,500000.0,False,True,True,False,3071862
70002,NL1,2021,w,306,SC Heerenveen,Netherlands,in,580142,Joaquín Fernández,22.0,...,37535,Montevideo City Torque,Uruguay,NaN,100000.0,False,True,True,False,3268245
70003,NL1,2021,w,468,Sparta Rotterdam,Netherlands,in,340353,Maduka Okoye,22.0,...,1010,Watford FC,England,NaN,1000000.0,False,True,False,False,3619917
70005,NL1,2021,w,499,Vitesse Arnhem,Netherlands,in,187203,Eric Verstappen,27.0,...,515,Without Club,Without Club,NaN,125000.0,False,False,False,False,3611421

## Preprocessing:
### - rimuovere quelli con player_age Nan?
### - rimuo

In [45]:
print('colonna player_age Nan -> ' , transfers_in['player_age'].isna().sum())
print('colonna transfer_fee_amnt Nan -> ' , transfers_in['transfer_fee_amnt'].isna().sum())
print('colonna market_val_amnt Nan -> ' , transfers_in['market_val_amnt'].isna().sum())
print('colonna player_age Nan -> ' , transfers_in['player_age'].isna().sum())
print('colonna player_age Nan -> ' , transfers_in['player_age'].isna().sum())
print('colonna player_age Nan -> ' , transfers_in['player_age'].isna().sum())
print('colonna player_age Nan -> ' , transfers_in['player_age'].isna().sum())
print('colonna player_age Nan -> ' , transfers_in['player_age'].isna().sum())
print('colonna player_age Nan -> ' , transfers_in['player_age'].isna().sum())

colonna player_age Nan ->  6
colonna transfer_fee_amnt Nan ->  18669
colonna market_val_amnt Nan ->  7523
colonna player_age Nan ->  6
colonna player_age Nan ->  6
colonna player_age Nan ->  6
colonna player_age Nan ->  6
colonna player_age Nan ->  6
colonna player_age Nan ->  6